:root {
    /* --bg-1: #0d47a1;
    --bg-2: #26a69a;
    --bg-3: #FFA400; 
    --bg-4: #5B3256; 
    --bg-5: #F22613; 
    --bg-6: #19B5FE; 
    --bg-7: #F57C00;  */
    --bg-1: #19B5FE;
    --bg-2: #F22613;
    --bg-3: #F7CA18; 
    --bg-4: #00CED1; 
    --bg-5: #e3c099;
    --bg-6: #F62459;
    --bg-7: #2ABB9B;
    
  }

html,body{
    padding: 0;
    margin: 0;
}

#content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008080;
    background-blend-mode: overlay;
    background: repeating-linear-gradient(0deg, #19B5FE,  #19B5FE 10%, #F22613 10%, #F22613 20%, #f7ca18 20%, #f7ca18 30%, #00CED1 30%, #00CED1 40%,var(--bg-5) 40%, var(--bg-5) 50%, var(--bg-6) 50%, var(--bg-6) 60%, var(--bg-7) 60%, var(--bg-7) 70%);


    /* animation-name: bluecolours;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite */

}

.content-wrapper{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color:#fff;
    padding: 30px 30px;
    background-color: #049372
}


/* The animation code */
@keyframes bluecolours {
    0% {background: var(--bg-1)}
    /* 16% {background: var(--bg-2)}
    32% {background: var(--bg-3)} */
    50% {background: var(--bg-3)}
    /* 66% {background: var(--bg-5)}
    82% {background: var(--bg-6)} */ 
    100% {background: var(--bg-2)}
}