:root {
    /* --bg-1: #0d47a1;
    --bg-2: #26a69a;
    --bg-3: #FFA400; 
    --bg-4: #5B3256; 
    --bg-5: #F22613; 
    --bg-6: #19B5FE; 
    --bg-7: #F57C00;  */
    --bg-1: #19B5FE;
    --bg-2: #F22613;
    --bg-3: #F7CA18; 
    --bg-4: #00CED1; 
    --bg-5: #e3c099;
    --bg-6: #F62459;
    --bg-7: #2ABB9B;
    --bg-8: #006269;
    
  }

html,body{
    padding: 0;
    margin: 0;
}

#content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006269;
    background-blend-mode: overlay;
    background: repeating-linear-gradient(90deg, #19B5FE,  #19B5FE 10%, #F22613 10%, #F22613 20%, #f7ca18 20%, #f7ca18 30%, #00CED1 30%, #00CED1 40%,var(--bg-5) 40%, var(--bg-5) 50%, var(--bg-6) 50%, var(--bg-6) 60%, var(--bg-7) 60%, var(--bg-7) 70%, var(--bg-8) 70%, var(--bg-8) 80%);
    margin-bottom: 40px;

}

.content-wrapper{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color:#fff;
    padding: 30px 30px;
    background-color: #006269
}


/* The animation code */
@keyframes bluecolours {
    0% {background: var(--bg-1)}
    /* 16% {background: var(--bg-2)}
    32% {background: var(--bg-3)} */
    50% {background: var(--bg-3)}
    /* 66% {background: var(--bg-5)}
    82% {background: var(--bg-6)} */ 
    100% {background: var(--bg-2)}
}

.flex.row{
    margin-bottom: 20px;
}

.flex.row .col{
    flex: 1;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}

.button-silver {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    box-shadow:
      2px 2px 0.5em rgba(122, 122, 122, 0.55),
      inset 1px 1px 0 rgba(255, 255, 255, 0.9),
      inset -1px -1px 0 rgba(0, 0, 0, 0.34)
    ;
    border: 1px solid #dedede;
    background:
      -moz-linear-gradient(
      -72deg,
      #dedede,
      #ffffff 16%,
      #dedede 21%,
      #ffffff 24%,
      #454545 27%,
      #dedede 36%,
      #ffffff 45%,
      #ffffff 60%,
      #dedede 72%,
      #ffffff 80%,
      #dedede 84%,
      #a1a1a1
    );
    background:
    -webkit-linear-gradient(
      -72deg,
      #dedede,
      #ffffff 16%,
      #dedede 21%,
      #ffffff 24%,
      #454545 27%,
      #dedede 36%,
      #ffffff 45%,
      #ffffff 60%,
      #dedede 72%,
      #ffffff 80%,
      #dedede 84%,
      #a1a1a1
    );
    background:
    -o-linear-gradient(
      -72deg,
      #dedede,
      #ffffff 16%,
      #dedede 21%,
      #ffffff 24%,
      #454545 27%,
      #dedede 36%,
      #ffffff 45%,
      #ffffff 60%,
      #dedede 72%,
      #ffffff 80%,
      #dedede 84%,
      #a1a1a1
    );
    background:
    linear-gradient(
      -72deg,
      #dedede,
      #ffffff 16%,
      #dedede 21%,
      #ffffff 24%,
      #454545 27%,
      #dedede 36%,
      #ffffff 45%,
      #ffffff 60%,
      #dedede 72%,
      #ffffff 80%,
      #dedede 84%,
      #a1a1a1
    );
  }

  .dot-background{
    background:
        -moz-radial-gradient(white 15%, transparent 16%),
        -moz-radial-gradient(white 15%, transparent 16%),
        black;
    background:
    -webkit-radial-gradient(white 15%, transparent 16%),
    -webkit-radial-gradient(white 15%, transparent 16%),
    black;
    background-position: 0 0, 80px 80px;
    
    -webkit-background-size:160px 160px;
    -moz-background-size:160px 160px;
    background-size:160px 160px;
  }